@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@model VladimirTripAdvisor.ViewModels.ObjectWithPhotoViewModel
@{
    ViewData["Title"] = "ViewObject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .truncate {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>
<body>
    <div class="container flex-column" style="display: flex;padding: 40px;position: relative;overflow: visible;max-width: 100%;height: auto;width: 1216px;">
        <p class="d-flex" style="font-weight: bold;font-size: 51px;">@Model.Place.Name</p>
        <div class="row text-start d-flex flex-column flex-lg-row flex-xl-row flex-xxl-row" style="position: relative;display: flex;overflow: visible;padding-left: 0px;padding-right: 0px;height: auto;width: auto;margin-right: 12px;">
            <div class="col-auto d-flex flex-row" style="width: auto;">
                <span><img class="d-xxl-flex align-items-xxl-center" src="~/images/star.png" width="40" height="40" /></span>
                <p class="fw-semibold d-flex align-items-center" style="margin-bottom: 0px;padding-bottom: 0px;padding-left: 10px;font-size: 22px;width: auto;padding-top: 3px;">@Model.Place.AverageRating</p>
            </div>
            <div class="col-auto col-lg-auto d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="height: auto;width: auto;">
                <p class="fw-semibold d-flex flex-grow-0 align-items-center" style="margin-bottom: 0px;width: 100%;height: 100%;">@Model.Place.StreetAddress</p>
            </div>
            <div class="col-auto col-lg-auto d-flex d-md-flex d-xxl-flex align-items-center justify-content-xxl-center" style="height: auto;width: auto;">
                <p class="fw-semibold d-flex align-items-center" style="margin-bottom: 0px;width: auto;">@Model.Place.PhoneNumber</p>
            </div>
            <div class="col-auto col-lg-auto d-flex d-xxl-flex align-items-center justify-content-xxl-center" style="width: auto;">
                <p class="fw-semibold d-flex align-items-center" style="padding-bottom: 0px;margin-bottom: 0px;width: 100%;height: 100%;"><a href="@Model.Place.PlaceURL">Веб-сайт</a></p>
            </div>
            <div class="col-auto col-lg-auto d-flex d-xxl-flex align-items-center justify-content-xxl-center" style="width: auto;">
                <p class="fw-semibold text-success d-flex align-items-center" style="padding-bottom: 0px;margin-bottom: 0px;width: 100%;height: 100%;">Открыто</p>
            </div>
            @if (User.IsInRole(WC.UserRole) || User.IsInRole(WC.OwnerRole) || User.IsInRole(WC.AdminRole))
            {
                <div class="col-auto col-lg-auto d-flex d-xxl-flex align-items-center justify-content-xxl-center" style="width: auto;">
                    <button class="btn btn-warning d-flex justify-content-center align-items-center" type="button" style="height: 40px;" data-bs-target="#addReviewModal" data-bs-toggle="modal">
                        <strong>Оставить отзыв</strong>
                    </button>
                </div>
                <div class="col-auto col-lg-auto d-flex d-xxl-flex align-items-center justify-content-xxl-center" style="width: auto;">
                    <button class="btn btn-success d-flex justify-content-center align-items-center" type="button" style="height: 40px;" data-bs-target="#CreateEventModal" data-bs-toggle="modal">
                        <strong>Организовать встречу</strong>
                    </button>
                </div>

            }
        </div>
        <div class="row d-flex flex-column align-content-center flex-sm-column flex-md-column flex-lg-row flex-xl-row flex-xxl-row" style="padding-left: 0px;padding-top: 20px;height: auto;width: 100%;">
            <div class="col-4 col-sm-12 col-lg-4 align-self-start" style="padding-left: 0px;height: auto;">
                <div class="card" style="padding-right: 0px;margin-right: 0px;width: 100%;">
                    <div class="card-body">
                        <h4 class="card-title">Об объекте</h4>
                        <p class="flex-wrap card-text truncate">@Model.Place.Description</p><button id="toggle" class="btn btn-secondary toggle" type="button">Подробнее</button><button id="toggle" class="btn btn-secondary text-center d-none justify-content-xxl-center toggle" type="button" style="width: 120px;text-align: center;">Скрыть</button>
                    </div>
                </div>
            </div>
            <div class="col order-first order-lg-last order-xl-last order-xxl-last col-md" style="height: auto;">
                <div id="carousel-1" class="carousel slide" data-bs-ride="false" style="width: 100%;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="w-100 d-block" src="data:image/jpg;base64, @Model.Images.First()" alt="Slide Image"
                                 style="object-fit: contain;object-position: center;overflow: hidden;height: 550px;" />
                        </div>
                        @for (int i = 1; i < Model.Images.Count; i++)
                        {
                            <div class="carousel-item">
                                <img class="w-100 d-block" src="data:image/jpg;base64, @Model.Images[i]" alt="Slide Image"
                                 style="object-fit: contain;object-position: center;overflow: hidden;height: 550px;" />
                            </div>
                        }
                    </div>
                    <div>
                        <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <div class="row g-0" style="padding-top: 30px;height: auto;width: 100%;padding-bottom: 30px;">
                    <div class="col d-flex" style="padding-top: 0px;width: 100%;height: 100%;">
                        <div class="d-flex justify-content-center align-items-center" style="height: 100%;width: 100%;">
                            <div id="map" style="height: 400px;width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex flex-row flex-wrap flex-sm-column flex-xl-row" style="padding-top: 50px;width: 100%;height: auto;">
            @await Component.InvokeAsync("CommentarySummary", new {id = Model.Place.Id})
            <div class="col-6 offset-xl-2 offset-xxl-2 d-flex flex-column align-self-sm-center align-self-xl-start" style="height: auto;border-color: var(--bs-blue);padding-top: 4px;">
                @await Component.InvokeAsync("Commentary", new {id = Model.Place.Id})
            </div>
        </div>
        <div id="addReviewModal" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Отзыв</h4><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            <input asp-for="ReviewModel.UserId" class="form-control form-control-sm" hidden type="text" value="@UserManager.GetUserId(User)" />
                            <input asp-for="ReviewModel.ObjectId" class="form-control form-control-sm" hidden type="text" value="@Model.Place.Id" />
                            <div style="margin-bottom: 10px;">
                                <label class="form-label" style="font-weight: bold;">Название:</label>
                                <input asp-for="ReviewModel.ReviewName" class="form-control form-control-sm" type="text" />
                                <span asp-validation-for="ReviewModel.ReviewName" class="text-danger"></span>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <label class="form-label" style="font-weight: bold;">Опишите Ваши впечатления о посещенном месте:</label>
                                <textarea asp-for="ReviewModel.ReviewDescription" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="ReviewModel.ReviewDescription" class="text-danger"></span>
                            </div>
                            <label class="form-label" style="font-weight: bold;">Ваша оценка:</label>
                            <select asp-for="ReviewModel.Score" class="form-control" asp-items="Html.GetEnumSelectList<ReviewScore>()"></select>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Закрыть</button>
                            <button asp-controller="Review" asp-action="AddReview" class="btn btn-primary" type="submit">Готово</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="CreateEventModal" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex">
                        <h4 class="modal-title">Создание встречи</h4>
                    </div>
                    <form method="post">
                        <input asp-for="EventModel.PlaceId" class="form-control" hidden type="text" style="margin-bottom: 0px;" value="@Model.Place.Id" />
                        <input asp-for="EventModel.CreatorId" class="form-control form-control-sm" hidden type="text" value="@UserManager.GetUserId(User)" />
                        <div class="modal-body">
                            <p style="text-align: justify;">После создания встречи Вам будет выдана ссылка приглашение в чат Телеграм, куда потом подключатся другие пользователи или вы можете пригласить сами, отправив им ссылку</p>
                            <div style="margin-bottom: 15px;">
                                <p style="margin-bottom: 6px;">Название мероприятия:</p>
                                <input asp-for="EventModel.Name" class="form-control" type="text" style="margin-bottom: 0px;" />
                                <span asp-validation-for="EventModel.Name" class="text-danger"></span>
                            </div>
                            <div style="margin-bottom: 15px;">
                                <p style="margin-bottom: 6px;">Описание мероприятия</p>
                                <textarea asp-for="EventModel.Description" rows="4" class="form-control" type="text" style="margin-bottom: 0px;" >
                                    </textarea>
                                <span asp-validation-for="EventModel.Description" class="text-danger"></span>
                            </div>
                            <div style="margin-bottom: 15px;">
                                <p style="margin-bottom: 6px;">Доступ к мероприятию</p>
                                <select asp-for="EventModel.EventType" class="form-control" asp-items="Html.GetEnumSelectList<EventType>()"></select>
                            </div>
                            <div style="margin-bottom: 15px;">
                                <p style="margin-bottom: 6px;">Дата начала мероприятия</p>
                                <input asp-for="EventModel.StartDate" class="form-control" type="datetime-local" style="margin-bottom: 0px;" />
                                <span asp-validation-for="EventModel.StartDate" class="text-danger" ></span>
                            </div>
                            @*                            <div style="margin-bottom: 15px;">
                            <p style="margin-bottom: 6px;">Дата окончания мероприятия</p><input class="form-control form-control" type="datetime-local" style="margin-bottom: 0px;" />
                            <p class="text-danger" ></p>
                            </div>*@
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Отмена</button>
                            <button asp-action="CreateEvent" asp-controller="Event" class="btn btn-primary" type="submit">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=2901eb02-0489-4004-96be-a5b85aaa9984" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(function () {
        var myMap = new ymaps.Map('map', {
            center: [@Model.Place.Latitude, @Model.Place.Longitude],
            zoom: 16
        }, {
            searchControlProvider: 'yandex#search'
        }),

            // Создаём макет содержимого.
            MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                '<div style="color: #AAAAAA; font-weight: bold;">$[properties.iconContent]</div>'
            ),

            myPlacemark = new ymaps.Placemark(myMap.getCenter(), {

            }, {
                iconLayout: 'default#image',
                // Своё изображение иконки метки.
                iconImageHref: 'https://localhost:7048/images/pin.png',
                // Размеры метки.
                iconImageSize: [32, 32],
            });
        myMap.controls.remove('searchControl');
        myMap.controls.remove('geolocationControl');
        myMap.controls.remove('trafficControl');
        myMap.controls.remove('fullscreenControl');
        myMap.controls.remove('rulerControl');
        myMap.controls.remove('typeSelector');
        myMap.geoObjects
            .add(myPlacemark)
    });
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/btn_readmore.js"></script>

