@model IEnumerable<VladimirTripAdvisor.Models.ApplicationModelDB>
@{
    ViewData["Title"] = "CheckApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Список заявок на улучшение статуса аккаунта</h2>
        </div>
    </div>

    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Фамилия
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Тип заявления
                    </th>
                    <th>
                        Статус заявления
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Created)
                    {
                        <tr>
                            <td width="20%">@obj.User.Surname</td>
                            <td width="20%">@obj.User.Name</td>
                            @if (obj.ApplicationType == Logic.Application.ApplicationType.UpgradeAccount)
                            {
                                <td width="20%">Улучшение аккаунта</td>
                            }
                            else
                            {
                                <td width="20%">Добавление объекта</td>
                            }
                            <td width="20%">Создана</td>
                            <td class="text-center">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Application" asp-route-Id="@obj.Id" asp-action="ViewApplication" class="btn btn-primary">
                                        Принять
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    else if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Taked)
                    {
                        <tr>
                            <td width="20%">@obj.User.Surname</td>
                            <td width="20%">@obj.User.Name</td>
                            @if (obj.ApplicationType == Logic.Application.ApplicationType.UpgradeAccount)
                            {
                                <td width="20%">Улучшение аккаунта</td>
                            }
                            else
                            {
                                <td width="20%">Добавление объекта</td>
                            }
                            <td width="20%">Принята администратором</td>
                            <td class="text-center">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Application" asp-route-Id="@obj.Id" asp-action="ViewApplication" class="btn btn-primary">
                                        Открыть
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    else if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Processing)
                    {
                        <tr>
                            <td width="20%">@obj.User.Surname</td>
                            <td width="20%">@obj.User.Name</td>
                            @if (obj.ApplicationType == Logic.Application.ApplicationType.UpgradeAccount)
                            {
                                <td width="20%">Улучшение аккаунта</td>
                            }
                            else
                            {
                                <td width="20%">Добавление объекта</td>
                            }
                            <td width="20%">В обработке</td>
                            <td class="text-center">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Application" asp-route-Id="@obj.Id" asp-action="ViewApplication" class="btn btn-primary">
                                        Открыть
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    else if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Edit)
                    {
                        <tr>
                            <td width="20%">@obj.User.Surname</td>
                            <td width="20%">@obj.User.Name</td>
                            @if (obj.ApplicationType == Logic.Application.ApplicationType.UpgradeAccount)
                            {
                                <td width="20%">Улучшение аккаунта</td>
                            }
                            else
                            {
                                <td width="20%">Добавление объекта</td>
                            }
                            <td width="20%">На редактировании</td>
                            <td></td>
                        </tr>
                    }
                    else if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Done)
                    {
                        <tr>
                            <td width="20%">@obj.User.Surname</td>
                            <td width="20%">@obj.User.Name</td>
                            @if (obj.ApplicationType == Logic.Application.ApplicationType.UpgradeAccount)
                            {
                                <td width="20%">Улучшение аккаунта</td>
                            }
                            else
                            {
                                <td width="20%">Добавление объекта</td>
                            }
                            <td width="20%">Обработана</td>
                            <td></td>
                        </tr>
                    }
                    else if (obj.ApplicationStatus == Logic.Application.ApplicationStatus.Canceled)
                    {
                        <tr>
                            <td width="20%">@obj.User.Surname</td>
                            <td width="20%">@obj.User.Name</td>
                            @if (obj.ApplicationType == Logic.Application.ApplicationType.UpgradeAccount)
                            {
                                <td width="20%">Улучшение аккаунта</td>
                            }
                            else
                            {
                                <td width="20%">Добавление объекта</td>
                            }
                            <td>Отклонена администратором</td>
                            <td></td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    }
    else
    {
        <p>Список пустой</p>
    }
</div>

